
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 2px solid grey;
  margin: 30px;
}

.card {
  border: 1px solid grey;
  padding: 40px;
}