<main class="y-wrap">
    <h1>Vaccuums make life better</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora ipsam eos laborum repellendus suscipit explicabo quasi deserunt qui unde repudiandae.</p>
</main>
